<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nota.css">
    <title>saque</title>
</head>
<body>
    <section class="notas">
        <div class="interface">
            <P>Escolha a opção desejada</P>
            <div class="flex">
                <div class="nota-10">
                    <img src="./fotos/nota-10 (1).jpg" alt="">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Digite">
                    </form>
                </div>

                <div class="nota-20">
                    <img src="./fotos/nota-20.jpg" alt="">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Digite">
                    </form>
                </div>

                <div class="nota-50">
                    <img src="./fotos/nota-50.jpg" alt="">
                    <form action="">
                        <input type="text" name="" id="" placeholder="Digite">
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>