* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

/* ____define a cor da pagina toda__________ */
body {
    background-color: rgb(176, 177, 175);
}


.tela-oculta {
    display: flex;
    flex-direction: column; /* Alinha os filhos (como .titulo-opcao e .opcoes) em coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
    margin: 0px auto; /* Centraliza a div horizontalmente na tela */
    margin-top: 80px;
    gap: 30px;
}

.titulo-opcao {
    font-size: 20px; /* Define o tamanho da fonte do título */
    font-weight: bold; /* Deixa o texto em negrito */
    margin-bottom: -10px; /* Espaço abaixo do título */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.opcoes {
    display: flex; /* Usa Flexbox para posicionar as opções lado a lado */
    flex-direction: row; /* Alinha os elementos filhos (.opcao1, .opcao2, .opcao3) em linha */
    gap: 40px; /* Espaço entre cada caixa de opção */
    justify-content: center; /* Centraliza horizontalmente as opções */
    flex-wrap: wrap; /* Permite que as opções quebrem linha em telas menores */
}

.opcao1, .opcao2, .opcao3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o conteúdo com espaço entre o topo e base */
    align-items: center;
    height: 300px;
    padding: 15px;
    box-shadow: 10px 10px 15px rgba(29, 27, 25, 0.2);
    border-radius: 10px;
    width: 200px;
    background-color: white;
}

    .opcao1 p, .opcao2 p, .opcao3 p {
        margin: 5px 0; /* Garante que os <p> internos não ocupem espaço extra */
    }

    .opcao1 button, .opcao2 button, .opcao3 button {
        margin-top: auto;
    }

button {
    width: 70px; /* ajusta a largura do botão */
    height: 50px; /*ajusta o tamanho */
    border-radius: 100px; /*  arredonda as bordas */
    box-shadow: 0px 0px 10px rgba(29, 27, 25, 0.904);
   
}

    button:hover {
        background-color: #444; /* Muda a cor de fundo do botão para um cinza mais claro (#444) quando o mouse está sobre ele */
        color: white; /* Muda a cor do texto para branco quando o mouse está sobre o botão */
    }

.btn-fim button i, .btn-voltar button i {
    font-size: 50px;
    
}

.btn-fim button {
    width: 70px; /* ajusta a largura do botão */
    height: 70px; /*ajusta o tamanho */

}

.btn-fim {
    position: fixed;
    bottom: 20px; /* distância do rodapé */
    right: 200px; /* distância da lateral direita */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* garante que fique acima de outros elementos */
}

.btn-fim p{
    font-size: 20px;
}